@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-ultra-webfont.eot');
  src: url('../font/geomanist-ultra-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-ultra-webfont.woff2') format('woff2'),
        url('../font/geomanist-ultra-webfont.woff') format('woff'),
        url('../font/geomanist-ultra-webfont.ttf') format('truetype'),
        url('../font/geomanist-ultra-webfont.svg#geomanistitalic') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-ultra-italic-webfont.eot');
  src: url('../font/geomanist-ultra-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-ultra-italic-webfont.woff2') format('woff2'),
        url('../font/geomanist-ultra-italic-webfont.woff') format('woff'),
        url('../font/geomanist-ultra-italic-webfont.ttf') format('truetype'),
        url('../font/geomanist-ultra-italic-webfont.svg#geomanistitalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-black-webfont.eot');
  src: url('../font/geomanist-black-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-black-webfont.woff2') format('woff2'),
        url('../font/geomanist-black-webfont.woff') format('woff'),
        url('../font/geomanist-black-webfont.ttf') format('truetype'),
        url('../font/geomanist-black-webfont.svg#geomanistitalic') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-black-italic-webfont.eot');
  src: url('../font/geomanist-black-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-black-italic-webfont.woff2') format('woff2'),
        url('../font/geomanist-black-italic-webfont.woff') format('woff'),
        url('../font/geomanist-black-italic-webfont.ttf') format('truetype'),
        url('../font/geomanist-black-italic-webfont.svg#geomanistitalic') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-bold-webfont.eot');
  src: url('../font/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-bold-webfont.woff2') format('woff2'),
        url('../font/geomanist-bold-webfont.woff') format('woff'),
        url('../font/geomanist-bold-webfont.ttf') format('truetype'),
        url('../font/geomanist-bold-webfont.svg#geomanistitalic') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-bold-italic-webfont.eot');
  src: url('../font/geomanist-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-bold-italic-webfont.woff2') format('woff2'),
        url('../font/geomanist-bold-italic-webfont.woff') format('woff'),
        url('../font/geomanist-bold-italic-webfont.ttf') format('truetype'),
        url('../font/geomanist-bold-italic-webfont.svg#geomanistitalic') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-medium-webfont.eot');
  src: url('../font/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-medium-webfont.woff2') format('woff2'),
        url('../font/geomanist-medium-webfont.woff') format('woff'),
        url('../font/geomanist-medium-webfont.ttf') format('truetype'),
        url('../font/geomanist-medium-webfont.svg#geomanistitalic') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-medium-italic-webfont.eot');
  src: url('../font/geomanist-medium-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-medium-italic-webfont.woff2') format('woff2'),
        url('../font/geomanist-medium-italic-webfont.woff') format('woff'),
        url('../font/geomanist-medium-italic-webfont.ttf') format('truetype'),
        url('../font/geomanist-medium-italic-webfont.svg#geomanistitalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-book-webfont.eot');
  src: url('../font/geomanist-book-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-book-webfont.woff2') format('woff2'),
        url('../font/geomanist-book-webfont.woff') format('woff'),
        url('../font/geomanist-book-webfont.ttf') format('truetype'),
        url('../font/geomanist-book-webfont.svg#geomanistitalic') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-book-italic-webfont.eot');
  src: url('../font/geomanist-book-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-book-italic-webfont.woff2') format('woff2'),
        url('../font/geomanist-book-italic-webfont.woff') format('woff'),
        url('../font/geomanist-book-italic-webfont.ttf') format('truetype'),
        url('../font/geomanist-book-italic-webfont.svg#geomanistitalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-regular-webfont.eot');
  src: url('../font/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-regular-webfont.woff2') format('woff2'),
        url('../font/geomanist-regular-webfont.woff') format('woff'),
        url('../font/geomanist-regular-webfont.ttf') format('truetype'),
        url('../font/geomanist-regular-webfont.svg#geomanistitalic') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-regular-italic-webfont.eot');
  src: url('../font/geomanist-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-regular-italic-webfont.woff2') format('woff2'),
        url('../font/geomanist-regular-italic-webfont.woff') format('woff'),
        url('../font/geomanist-regular-italic-webfont.ttf') format('truetype'),
        url('../font/geomanist-regular-italic-webfont.svg#geomanistitalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-light-webfont.eot');
  src: url('../font/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-light-webfont.woff2') format('woff2'),
        url('../font/geomanist-light-webfont.woff') format('woff'),
        url('../font/geomanist-light-webfont.ttf') format('truetype'),
        url('../font/geomanist-light-webfont.svg#geomanistitalic') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-light-italic-webfont.eot');
  src: url('../font/geomanist-light-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-light-italic-webfont.woff2') format('woff2'),
        url('../font/geomanist-light-italic-webfont.woff') format('woff'),
        url('../font/geomanist-light-italic-webfont.ttf') format('truetype'),
        url('../font/geomanist-light-italic-webfont.svg#geomanistitalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-extralight-webfont.eot');
  src: url('../font/geomanist-extralight-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-extralight-webfont.woff2') format('woff2'),
        url('../font/geomanist-extralight-webfont.woff') format('woff'),
        url('../font/geomanist-extralight-webfont.ttf') format('truetype'),
        url('../font/geomanist-extralight-webfont.svg#geomanistitalic') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-extralight-italic-webfont.eot');
  src: url('../font/geomanist-extralight-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-extralight-italic-webfont.woff2') format('woff2'),
        url('../font/geomanist-extralight-italic-webfont.woff') format('woff'),
        url('../font/geomanist-extralight-italic-webfont.ttf') format('truetype'),
        url('../font/geomanist-extralight-italic-webfont.svg#geomanistitalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-thin-webfont.eot');
  src: url('../font/geomanist-thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-thin-webfont.woff2') format('woff2'),
        url('../font/geomanist-thin-webfont.woff') format('woff'),
        url('../font/geomanist-thin-webfont.ttf') format('truetype'),
        url('../font/geomanist-thin-webfont.svg#geomanistitalic') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../font/geomanist-thin-italic-webfont.eot');
  src: url('../font/geomanist-thin-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/geomanist-thin-italic-webfont.woff2') format('woff2'),
        url('../font/geomanist-thin-italic-webfont.woff') format('woff'),
        url('../font/geomanist-thin-italic-webfont.ttf') format('truetype'),
        url('../font/geomanist-thin-italic-webfont.svg#geomanistitalic') format('svg');
  font-weight: 100;
  font-style: italic;
}