//
// Color system
//

$primary-color: #ff2800;

$white:  #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:  #000;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #ff0d7d;
$red:     #e80e0c;
$orange:  #e84e0c;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
);

$theme-colors: (
  primary: $primary-color,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8%;

//
// Custom Font
//

// @import "font-metropolis";
@import "font-geomanist";
@import "font-playfair-display";

//
// Customize Bootstrap
//

$enable-rounded:        false;

$spacer:                2rem;

$body-bg:               $gray-100;
$body-color:            $gray-900;

// $font-family-base:      "Metropolis";
$font-family-base:      "Geomanist";

$line-height-base:      1.4;

$headings-font-weight:  700;

$display1-weight:       700;
$display2-weight:       700;
$display3-weight:       700;
$display4-weight:       700;

$lead-font-weight:      600;
$font-weight-base:      400;

$blockquote-font-size:  2rem;

//
// Include Bootstrap
//

@import "../../node_modules/bootstrap/scss/bootstrap";

//
// Custom
//

html {
  font-size: 1.125rem;
  // letter-spacing: -0.01em;
}

.blockquote {
  border-left: 6px solid theme-color("primary");
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 900;
  padding-left: 1rem;
}

.portfolio-heros {
  $portfolio-hero-height: 90vh;
  
  // height: $portfolio-hero-height;

  // &.carousel {
  //   margin-bottom: 4rem;
  // }
  
  /* Since positioning the image, we need to help out the caption */
  // &.carousel-caption {
  //   z-index: 10;
  //   bottom: 3rem;
  // }
  
  /* Declare heights because of positioning of img element */
  & .carousel-item {
    height: $portfolio-hero-height;
  }

  & .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: $portfolio-hero-height;
  }
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;

  h1 {
    flex-basis: 100%;
  }

  .card {
    // border: none;
    flex-basis: 100%;

    @include media-breakpoint-up(sm) {
      flex-basis: (100% / 2);
    }
    @include media-breakpoint-up(md) {
      flex-basis: (100% / 3);
    }
    @include media-breakpoint-up(lg) {
      flex-basis: (100% / 4);
    }
    @include media-breakpoint-up(xl) {
      flex-basis: (100% / 5);
    }
  }
}

// body {
//   font-family: Metropolis;
//   font-family: Montserrat;
//   font-family: Geomanist;
//   font-family: "Source Sans Pro";
//   font-family: "Helvetica Neue";
// }