//
// Color system
//

$primary-color: #ff2800;
$secondary-color: #ff28dd;
// $base-font-size-xs: 17pt;

$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #111111;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #ff0d7d;
$red: #e80e0c;
$orange: #e84e0c;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
);

$theme-colors: (
  primary: $primary-color,
  secondary: $gray-900,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-900
);

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8%;

//
// Custom Font
//

@import 'font-geomanist';
@import 'font-noway-round';
// @import "font-playfair-display";

//
// Customize Bootstrap
//

$enable-rounded: false;

$spacer: 2rem;

$body-bg: $gray-100; // theme-color("light");
$body-color: $gray-900; // theme-color("dark");

$border-width: 2px;

$font-family-base: 'Noway Round', 'Helvetica Neue', Arial, sans-serif;
$font-family-display: 'Geomanist', 'Helvetica Neue', Arial, sans-serif;

$line-height-base: 1.5;

$headings-font-family: $font-family-display;
$headings-font-weight: 700;

$display1-weight: 700;
$display2-weight: 700;
$display3-weight: 700;
$display4-weight: 700;

$lead-font-weight: 600;
$font-weight-base: 400;

$blockquote-font-size: 2rem;

$btn-font-weight: 500;

//
// Include Bootstrap
//

@import '../../node_modules/bootstrap/scss/bootstrap';

//
// Include Font Awesome
//

@import '../../node_modules/font-awesome/scss/font-awesome';

//
// Global variables
//

$body-vertical-spacing: $navbar-brand-height + $navbar-brand-padding-y * 2; // map-get($spacers, 4);

//
// Custom Styles
//

// html {
//   font-size: $base-font-size-xs;

//   @include media-breakpoint-up(sm) {
//     font-size: round($base-font-size-xs * 1.1);
//   }

//   @include media-breakpoint-up(md) {
//     font-size: round($base-font-size-xs * 1.2);
//   }

//   @include media-breakpoint-up(lg) {
//     font-size: round($base-font-size-xs * 1.3);
//   }
// }

.blockquote {
  border-left: 6px solid theme-color('primary');
  font-family: 'Geomanist';
  font-style: italic;
  font-weight: 700;
  padding-left: 1rem;
}

.btn {
  font-family: $headings-font-family;
  text-transform: uppercase;
}

.navbar {
  font-family: $headings-font-family;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.lead,
.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: $font-family-display;
}

// Fix for outline light buttons

.btn-outline-light {
  @include button-outline-variant(theme-color('light'), theme-color('dark'));
}

//
// Portfolio
//
@import 'portfolio';

// prevent body scrolling when cursor keys are pressed
body,
html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  // Compensate fixed Navbar
  padding-top: $body-vertical-spacing;
}

.navbar .navbar-brand {
  margin-right: 0;
}
